<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}} - V{{appVersion}}</title>
  <base href="/">

  <link rel="shortcut icon" href="{{ staticContent }}/assets/favicon.ico" type="image/x-icon" />
</head>

<style id="style-initapp">
  .container-loader {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>

<body>
  <div id="root">
  </div>
  <script type="text/javascript" src="{{ stats.assetsByChunkName.app }}"></script>
  <script type="text/javascript" src="{{ stats.assetsByChunkName.vendors }}"></script>
</body>

</html>